################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/[O|o]bj
**/[B|b]in

*.user
node_modules